<!-- Page-->
<div class="page">
  <!-- Page Header-->
  <header class="page-head">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap header_corporate">
      <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-device-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-stick-up-offset="100px">
        <!--RD Navbar Panel-->
        <div class="rd-navbar-top-panel">
          <div class="rd-navbar-top-panel-wrap">
            <div class="login"><a href="register.html"><span class="fa-user"></span> Login/Registration</a></div>
            <div class="contact-info"><a href="callto:#"><span class="material-icons-local_phone"></span> +254-723-858-383</a><a href="mailto:info@meetinafrica.com"><span class="material-icons-drafts"></span> info@meetinafrica.com</a></div>
            <div class="slogan">
              <p>Professional realtor works for you</p>
            </div>
            <ul class="list-inline">
              <li><a href="#" class="fa-facebook"></a></li>
              <li><a href="#" class="fa-twitter"></a></li>
              <li><a href="#" class="fa-pinterest-p"></a></li>
              <li><a href="#" class="fa-vimeo"></a></li>
              <li><a href="#" class="fa-google"></a></li>
              <li><a href="#" class="fa-rss"></a></li>
            </ul>
            <div class="btn-group"><a href="add-facility.html" class="btn btn-sm btn-primary">Submit a Room</a></div>
          </div>
        </div>
        <div class="rd-navbar-inner inner-wrap">
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><img src="images/meet-in-africa-logo.png" width="200px" height="50px" alt="Meet In Africa Logo"/></a></div>
          </div>
          <div class="btn-group"><a href="add-facility.html" class="btn btn-sm btn-primary">Add Facility</a></div>
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li class="active"><a href="index.html">Home</a></li>

              <li><a href="#">Facility</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="categories.html">Categories</a></li>
                  <li><a href="property-catalog-list.html">Facility catalog list</a></li>
                  <li><a href="property-catalog-single.html">View Single Facility</a></li>
                  <li><a href="add-facility.html">Add Facility</a></li>
                </ul>
              </li>

              <li><a href="#">User/Owner</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="login.html">Login page</a></li>
                  <li><a href="register.html">Register page</a></li>
                  <li><a href="agent-personal.html">Profile</a></li>
                </ul>
              </li>


              <li><a href="contact_us.html">Contact Us</a></li>

              <!-- To Go to Footer Menu-->
              <li><a href="#">Footer Menu</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="about.html">About</a></li>
                  <li><a href="our-team.html">Our Team</a></li>
                  <li><a href="terms.html">Terms of Use</a></li>
                </ul>
              </li>

              <li class="link-group"><a href="callto:#"><span class="icon icon-xxs-mod-1 material-icons-local_phone"></span> +254-723-858-383</a><a href="mailto:#"><span class="icon icon-xxs-mod-1 material-icons-drafts"></span> info@meetinafrica.com</a><a href="register.html"><span class="icon icon-xxs-mod-1 fa-user"></span> Login/Registration</a><a href="add-facility.html" class="btn btn-sm btn-primary">Add Conference Facility</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- InstanceBeginEditable name="contentArea" -->
  <!-- Page Content-->
  <main class="page-content text-left">
    <!-- Section Title Breadcrumbs-->
    <section class="section-full">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Categories</h1>
            <p></p>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li>Pages</li>
              <li class="active">Categories</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--Section popular categories 1-->
    <section class="section-sm section-sm-mod-2 text-center text-sm-left">
      <div class="shell">
        <h2>Popular Categories</h2>
        <hr>
        <div class="range offset-1 text-left">
          <div class="cell-sm-6 cell-md-4 cell-md-push-1">
            <div class="category"><img src="images/index-1.jpg" alt="" width="370" height="250"/>
              <div class="category-content">
                <h4>Cocktail</h4>
                <p>101 Results</p><a href="property-catalog-single.html" class="btn btn-sm btn-primary">More details</a>
              </div>
            </div>
            <div class="category"><img src="images/index-2.jpg" alt="" width="370" height="250"/>
              <div class="category-content">
                <h4>Classroom</h4>
                <p>101 Results</p><a href="property-catalog-single.html" class="btn btn-sm btn-primary">More details</a>
              </div>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-4 cell-md-push-3">
            <div class="category"><img src="images/index-4.jpg" alt="" width="370" height="250"/>
              <div class="category-content">
                <h4>Boardrooms</h4>
                <p>101 Results</p><a href="property-catalog-single.html" class="btn btn-sm btn-primary">More details</a>
              </div>
            </div>
            <div class="category"><img src="images/index-5.jpg" alt="" width="370" height="250"/>
              <div class="category-content">
                <h4>Lawn</h4>
                <p>101 Results</p><a href="property-catalog-single.html" class="btn btn-sm btn-primary">More details</a>
              </div>
            </div>
          </div>
          <div class="cell-sm-6 cell-sm-preffix-3 cell-md-4 cell-md-preffix-0 cell-md-push-2">
            <div class="category"><img src="images/index-3.jpg" alt="" width="370" height="530"/>
              <div class="category-content">
                <h4>Beach Front</h4>
                <p>101 Results</p><a href="property-catalog-single.html" class="btn btn-sm btn-primary">More details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section popular categories 1-->
    <section class="section-sm text-center text-sm-left">
      <div class="container">
        <h2>Popular categories 2</h2>
        <hr>
        <div class="row offset-1 text-left">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail"><a href="#" class="img-link"><img src="images/categories-1.jpg" width="370" height="250" alt=""></a>
              <div class="caption">
                <h4><a href="#">Cocktail</a></h4>
                <p>101 Results</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail"><a href="#" class="img-link"><img src="images/categories-2.jpg" width="370" height="250" alt=""></a>
              <div class="caption">
                <h4><a href="#">Beach Front</a></h4>
                <p>101 Results</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail"><a href="#" class="img-link"><img src="images/categories-3.jpg" width="370" height="250" alt=""></a>
              <div class="caption">
                <h4><a href="#">Boardrooms</a></h4>
                <p>101 Results</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail"><a href="#" class="img-link"><img src="images/categories-4.jpg" width="370" height="250" alt=""></a>
              <div class="caption">
                <h4><a href="#">Classroom</a></h4>
                <p>101 Results</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail"><a href="#" class="img-link"><img src="images/categories-5.jpg" width="370" height="250" alt=""></a>
              <div class="caption">
                <h4><a href="#">Lawn</a></h4>
                <p>101 Results</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail"><a href="#" class="img-link"><img src="images/categories-6.jpg" width="370" height="250" alt=""></a>
              <div class="caption">
                <h4><a href="#">Rooms for Rent</a></h4>
                <p>101 Results</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- InstanceEndEditable --><!-- Page Footer-->
  <footer class="page-foot text-center text-md-left bg-gray">
    <div class="container-fluid">
      <div class="footer-wrap">
        <div class="rd-navbar-brand"><a href="index.html" class="brand-name">Meet in<br><span>Africa</span></a></div>
        <ul class="list-inline">
          <li><a href="#" class="fa-facebook"></a></li>
          <li><a href="#" class="fa-twitter"></a></li>
          <li><a href="#" class="fa-pinterest-p"></a></li>
          <li><a href="#" class="fa-vimeo"></a></li>
          <li><a href="#" class="fa-google"></a></li>
          <li><a href="#" class="fa-rss"></a></li>
        </ul>
        <div class="copyright">
          <p>&#169;<span id="copyright-year"></span> All Rights Reserved <a href="terms.html">Terms of Use and Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>