<main class="page-content text-left">
  <!-- Section Title Breadcrumbs-->
  <section class="section-full">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Contact Us</h1>
          <p></p>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Pages</li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--Section Contact Us 1-->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Get in Touch</h2>
          <hr>
          <p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.</p>
          <p>We would be happy to answer your questions.</p>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <dl class="contact-info">
                <dt><span class="h4">Phones</span></dt>
                <dd><a href="callto:#">1-800-123-4567<br></a><a href="callto:#">1-800-987-1234</a></dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1">
              <dl class="contact-info">
                <dt><span class="h4">E-mail</span></dt>
                <dd><a href="mailto:#" class="text-primary">info@antsofafrica.com</a></dd>
              </dl>
            </div>
            <div class="col-xs-12 offset-2">
              <h4>Contact Form</h4>
              <!-- Rd Mailform result field-->
              <div class="rd-mailform-validate"></div>
              <!-- RD Mailform-->
              <form data-result-class="rd-mailform-validate" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="name" data-constraints="@NotEmpty" placeholder="Your First Name">
                  </div>
                  <div class="col-sm-6 input-mod-1">
                    <input type="text" name="name-2" data-constraints="@NotEmpty" placeholder="Your Last Name">
                  </div>
                </div>
                <input type="text" name="email" data-constraints="@NotEmpty @Email" placeholder="Your e-mail">
                <textarea name="message" data-constraints="@NotEmpty" placeholder="Message"></textarea>
                <button class="btn btn-primary btn-md">send message</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-7">
          <div class="row flow-offset-6 sidebar">
            <div class="col-xs-12 col-sm-4 col-md-12">
              <h4>Follow Us</h4>
              <ul class="list-inline">
                <li><a href="#" class="fa-facebook"></a></li>
                <li><a href="#" class="fa-twitter"></a></li>
                <li><a href="#" class="fa-pinterest-p"></a></li>
                <li><a href="#" class="fa-vimeo"></a></li>
                <li><a href="#" class="fa-google"></a></li>
                <li><a href="#" class="fa-rss"></a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-12">
              <address class="address"><span class="h4">Address</span>
                <p>123, New Lenox Chicago, IL 6060</p>
              </address>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-12">
              <h4>Open Hours</h4>
              <p>8:00 - 18:00 Mon - Sat</p>
            </div>
            <div class="col-xs-12">
              <!-- RD Google Map-->
              <div class="rd-google-map rd-google-map-mod-2">
                <div id="google-map" data-zoom="14" data-x="-73.9874068" data-y="40.643180" class="rd-google-map__model"></div>
                <ul class="rd-google-map__locations">
                  <li data-x="-73.9874068" data-y="40.643180">
                    <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.<span>800 2345-6789</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>